@charset "utf-8";

/*
    Final Project for CIS 181_WW1_HW
    Web Development I/Basic Web Technologies
	Professor Laurie Alfaro

	Pictured Rocks: Style Sheet
	Author: 	Jonathan Sarkarati
	Date: 		07/10/2024
	Filename: 	style.css
*/
/*  ===============
    STYLES: General
    =============== */

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-SemiBold.ttf') format('truetype');
     font-weight: 700;
     font-style: normal;
}

html {
    background-image: url(../images/treetrunk.jpg);
    color: rgb(0, 27, 54);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
}

em {
    font-weight: 400;
    font-style: italic;
}

strong {
    font-weight: 700;
    font-style: normal;
}

h1 {font-size: 1.5em}

h2 {font-size: 1.2em;}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    line-height: 1.2em;
    margin: auto;
}

div.background {
    background: rgb(201, 206, 214);
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 95%;
    max-width: 1050px;
    margin: auto;
    border: 2px solid rgb(0, 27, 54);
    border-radius: 10px;
}

nav.horizontal {
    margin-top: 15px;
    border-bottom: 5px solid rgb(0, 27, 54);
    background: rgb(98, 119, 141);
}

a#navicon {
    display: none;
}

nav.horizontal ul {
    display: flex;
    width: 75%;
    margin: auto;
    padding: 0px;
    text-align: center;
}

nav.horizontal li {
    flex: 1 1;
    padding: 0;
}

nav ul, a {
    list-style: none;
    text-decoration: none;
}

nav.horizontal ul a {
    display: block;
    color: rgb(0, 27, 54);
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul a:active, nav ul a:hover {
    background: rgb(150, 166, 182);
    font-size: 1.3em;
    text-transform: uppercase;
}

footer {
    margin-top: auto;
    padding: 5px;
    font-size: .85em;
    line-height: 1em;
    background: rgb(98, 119, 141);
    color: rgb(239, 239, 239);
    text-align: center;
    border-radius: 0 0 5px 5px;
}

footer a {color: rgb(239, 239, 239);}

footer a:active, footer a:hover {color: orange;}

footer.tablet {display: none;}

footer.small {display: none;}

/*  ==================
    STYLES: index.html
    ==================  */

main.index {
    display: flex;
    flex-direction: column;
    flex: 1;
}

figure.index {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

figure.index figcaption {
    padding-top: 3px;
    text-align: right;
    font-size: 0.9em;
}

figure.index img {
    border: solid 1px white;
    width: 100%;
    border-radius: 15px;
    box-shadow: gray 0 0 10px;
}

article.index {
    flex: 1;
    margin: auto;
}

article.index h1, article.index p {
    margin-left: 30px;
    margin-right: 30px;
}

div.w3c {
    margin-top: auto;
    text-align: center;
    padding-bottom: 15px;
}

/*  ====================
    STYLES: history.html
    ====================    */

figure.history {
    display: flex;
    flex-flow: column;
    margin: auto;
    margin-top: 30px;
    width: 80%;
}

figure.history img {
    border: solid 1px white;
    width: 100%;
    border-radius: 15px;
    box-shadow: gray 0 0 10px;
}

figure.history figcaption {
    padding-top: 3px;
    text-align: right;
    font-size: 0.9em;
}

body.history h1 {margin-left: 30px;}

main.history {
    display: flex;
    flex: 1;
    align-items: start;
}

article.history {
    display: flex;
    flex-flow: column;
    flex: 2;
    margin-left: 30px;
    margin-right: 30px;
}

aside.history {
    display: flex;
    flex-flow: column;
    flex: 1;
    background: #c0aac8;
    max-width: 30%;
    min-width: 185px;
    border: 5px outset rgb(0, 27, 54);
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    padding: 10px 15px 0px;
    margin-right: 50px;
    margin-bottom: 20px;
}

aside.history h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 1.1em;
}

aside.history dt {
    font-weight: 700;
    padding-top: 5px;
}

dd.lighthouse {position: relative;}

img.lighthouse {
    position: absolute;
    width: 20px;
    height: 45px;
    transform: translateY(-50%);
    top: 50%;
    left: -35px;
    filter: saturate(1.3);
    transition: transform 0.3s ease;
}

img.lighthouse:hover {transform: translateY(-50%) scale(1.3);}

aside.history a:active, aside.history a:hover {color: orange;}

/*  =======================
    STYLES: activities.html
    ======================= */

section.top h1, article.outdoor p {
    margin-left: 30px;
    margin-right: 30px;
}

article.activities h2 {
    margin-left: 30px;
    margin-right: 30px;
}

article.activities li {
    list-style-position: outside;
    margin-left: 20px;
    margin-right: 30px;
    line-height: 1.5em;
}

li.hiking {
    list-style-image: url(../images/icons/person-hiking-solid.svg);
    padding-left: 5px;
}

li.camping {
    list-style-image: url(../images/icons/campground-solid.svg);
    padding-left: 5px;
}

li.water {
    list-style-image: url(../images/icons/sailboat-solid.svg);
    padding-left: 5px;
}

section.bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

section.bottom h2 {margin-left: 30px;}

section.bottom p {margin-left: 30px;}

article.highlights li {
    list-style-position: outside;
    margin-left: 20px;
    line-height: 1.5em;
}

li.castle {
    list-style-image: url(../images/icons/chess-rook-solid.svg);
    padding-left: 5px;
}

li.river {
    list-style-image: url(../images/icons/water-solid.svg);
    padding-left: 5px;
}

li.beach {
    list-style-image: url(../images/icons/umbrella-beach-solid.svg);
    padding-left: 5px;
}

article.visitorTips p a:link, article.visitorTips p a:visited {color: rgb(0, 27, 54);}

article.visitorTips p a:active, article.visitorTips p a:hover {color: orange;}

figure.lighthouse a:link, figure.lighthouse a:visited {color: rgb(0, 27, 54);}

figure.lighthouse a:active, figure.lighthouse a:hover {color: orange;}

div.bottom {
    display: flex;
    flex-direction: column;
    flex: 3;
}

figure.lighthouse {
    flex: 1;
    min-width: 145px;
}

figure.lighthouse img {
    border: solid 1px white;
    border-radius: 15px;
    box-shadow: gray 0 0 10px;
    height: auto;
    width: 100%;
}

figure.lighthouse figcaption {
    padding-top: 3px;
    text-align: right;
    font-size: 0.9em;
    width: 100%;
}

/*  =====================
    STYLES: services.html
    =====================   */

article.services h1, article.services p {
    margin-left: 30px;
    margin-right: 30px;
}

table.services {
    border: 5px solid rgb(0, 27, 54);
    box-shadow: 5px 5px 10px;
    border-collapse: collapse;
    font-size: 0.75em;
    width: 60%;
    margin: auto;
}

table.services th, table.services td {
    border: 1px solid rgb(0, 27, 54);
    padding: 5px;
}

table.services caption {
    caption-side: bottom;
    text-align: right;
    padding-top: 3px;
}

table.services a:link, table.services a:visited {
    color: rgb(0, 27, 54);
    font-weight: bold;
}

article.services a:active, article.services a:hover {color: orange;}

table.services thead {background: #A9765C; color: white;}

table.services tfoot {
    background: rgb(98, 119, 141);
    color: white;
}

table.services tfoot a:link, table.services tfoot a:visited {color: white;}

table.services tfoot a:active, table.services tfoot a:hover {color: orange;}

table.services thead tr {height: 30px;}

table.services tbody tr {height: 30px;}

col#activity {
    width: 34%;
    background: #decccb;
}

col.providers {
    background: #c0aac8;
    width: 33%;
}

/*  ==================
    STYLES: about.html
    ==================  */

section.aboutMe {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.aboutMe h1 {
    margin-left: 30px;
    margin-bottom: 0px;
}

div.aboutMe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

figure.aboutMe {
    flex: 1;
    min-width: 180px;
}

figure.aboutMe img {
    border: solid 1px white;
    border-radius: 15px;
    box-shadow: gray 0 0 10px;
    max-width: 100%;
    height: auto;
}

figure.aboutMe figcaption {
    padding-top: 3px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
}

article.aboutMe {
    display: flex;
    flex-flow: column;
    flex: 2;
}

article.aboutMe p {
    margin-right: 30px;
    margin-bottom: 0px;
}

aside.endorsement {
    display: flex;
    flex-flow: column;
    background: rgb(209 201 214);
    align-self: center;
    border-left: 2px solid rgb(0, 27, 54);
    box-shadow: -5px -5px 15px gray;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
}

aside.endorsement h2 {
    margin-top: 0px;
    text-align: center;
}

div.endorsement {display: flex;}

div.endorsement p {
    margin: 0px;
    margin-bottom: 10px;
}

div.endorsement cite {
    display: block;
    padding-top: 3px;
    text-align: right;
    border-top: 2px solid;
}

div.endorsement blockquote {
    padding: 15px;
    color: white;
    border: 2px solid rgb(0, 27, 54);
    text-indent: 15px;
    border-radius: 5px;
    box-shadow: -5px 5px 15px black;
}

blockquote.one, blockquote.two, blockquote.three {
    flex: 1;
    margin: 15px;
    position: relative;
}

blockquote.one {background: black;}

blockquote.two {
    flex: 2;
  	background: #052545;
}

blockquote.three {background: rgb(98, 119, 141);}

blockquote.one img, blockquote.two img, blockquote.three img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

blockquote.one img {
    top: 0%;
    left: 50%;
}

blockquote.two img {
    top: 0%;
    left: 50%;
}

blockquote.three img {
    top: 0%;
    left: 50%;
}

h2.tablet {display: none;}

div.endorsement blockquote:before {
    position: relative;
	left: -15px;
  	top: 30px;
    content: "\201C";
    font-size: 40px;
}

div.endorsement blockquote cite:before {content: "\2014 \2009";}

div.social_media {
    display: flex;
    margin-top: auto;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding-bottom: 15px;
}

div.social_media img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

div.social_media img:hover {transform: scale(1.3);}

/*  ================================
    TABLET STYLES: 401 to 575 pixels
    ================================    */

@media only screen and (max-width: 575px) {
    /*  ======================
        TABLET STYLES: General
        ====================== */

    html {
        background-image: none;
        background: rgb(201, 206, 214)
    }

    div.background {
        width: 98%;
        min-width: 290px;
    }

    a#navicon {
        display: block;
        padding: 5px 5px 0px;
    }

    nav.horizontal {
        margin-top: 0px;
        border-bottom: 5px solid rgb(0, 27, 54);
        background: rgb(98, 119, 141);
        border-radius: 5px 5px 0 0;
    }

    nav.horizontal ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding: 0px;
        padding-left: 5px;
        text-align: left;
    }

    a#navicon:hover+ul, nav.horizontal ul:hover {display: block;}

    nav.horizontal ul a {
        display: block;
        color: rgb(0, 27, 54);
        padding: 0px 0px;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1.3em;
    }

    footer {font-size: 0.8em;}

    /*  =========================
        TABLET STYLES: index.html
        =========================   */

    article.index h1, article.index p {
        margin: 0px;
        padding: 15px 15px 0px;
        line-height: 1.3em;
    }

    figure.index {margin-top: 15px;}

    figure.index figcaption {
        padding-top: 2px;
        font-size: 0.8em;
    }

    body.index footer.normal {display: none;}

    body.index footer.tablet {display: block;}

    /*  ===========================
        TABLET STYLES: history.html
        =========================== */

    figure.history {margin-top: 15px;}

    figure.history figcaption {
        padding-top: 2px;
        font-size: 0.8em;
    }

    body.history h1 {
        margin: 0px 15px 0px;
        line-height: 1.3em;
        padding: 0px;
    }

    main.history {
        flex-flow: column;
        flex: 1;
        margin: 0px 15px;
    }

    main.history p {
        line-height: 1.3em;
    }

    article.history {
        flex: 0;
        margin: 0px;
    }

    aside.history {
        flex:0;
        max-width: 80%;
        margin: 10px auto;
        padding: 10px 15px 0px;
    }

    /*  =============================
        TABLET STYLES: activities.html
        =============================   */

    div.background_tablet {
        background-color: rgb(98, 119, 141);
        background-image: url(../images/grand_island_lighthouse.png);
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
    }

    section.top h1, article.outdoor p {
        margin-left: 15px;
        margin-right: 15px;
        line-height: 1.3em;
        margin-top: 15px;
        margin-bottom: 0px;
        color: white;
    }

    article.activities h2 {
        margin-left: 15px;
        line-height: 1.3em;
        color: white;
    }

    article.activities li {
        list-style-position: inside;
        margin-left: -25px;
        margin-right: 15px;
        color: white;
    }

    section.bottom h2 {
        margin-left: 15px;
        line-height: 1.2em;
        margin-top: 0px;
        color: white;
    }

    article.highlights li {margin-right: 15px;}

    section.bottom p {
        margin-left: 15px;
        margin-right: 15px;
        line-height: 1.3em;
        color: white;
    }

    article.highlights li {
        list-style-position: inside;
        margin-left: -25px;
        margin-right: 15px;
        color: white;
    }

    figure.lighthouse {display: none;}

    article.visitorTips p a:link, article.visitorTips p a:visited {color: white;}

    article.visitorTips p a:active, article.visitorTips p a:hover {color: orange;}

    body.activities footer.normal {display: none;}

    body.activities footer.tablet {display: block;}

    /*  ============================
        TABLET STYLES: services.html
        ============================    */

    article.services h1, article.services p {
        margin-left: 15px;
        margin-right: 15px;
        line-height: 1.3em;
    }

    table.services {width: 95%;}

    table.services caption {padding-top: 3px;}

    /*  =========================
        TABLET STYLES: about.html
        =========================   */

    section.aboutMe h1, article.aboutMe p {
        margin-left: 15px;
        margin-right: 15px;
        line-height: 1.3em;
    }

    div.aboutMe {flex-direction: column;}

    figure.aboutMe figcaption {
        padding-top: 2px;
        text-align: right;
        font-size: 0.8em;
    }

    article.aboutMe p {
        margin-top: 0px;
        margin-bottom: 15px;
        line-height: 1.3em;
    }

    aside.endorsement {
        max-width: 90%;
        margin-top: 10px;}

    div.endorsement {flex-flow: column-reverse;}

    h2.normal {display: none;}

    h2.tablet {
            display: block;
            padding-top: 15px;
            margin-bottom: 25px;
        }

    blockquote.one {margin: 10px 15px 15px;}

    blockquote.two {margin: 10px 15px 10px;}

    blockquote.three {margin: 0px 15px 10px;}
}

/*  ==============================
    MOBILE STYLES: 0 to 400 pixels
    ==============================  */

@media only screen and (max-width: 400px) {
    footer {font-size: 0.75em;}

    footer.small {display: block;}

    body.index footer.tablet {display: none;}

    body.history footer.normal {display: none;}

    body.activities footer.tablet {display: none;}

    body.services footer.normal {display: none;}

    body.about footer.normal {display: none;}
}